.text-normal {
  font-size: 1rem;
}

.text-normal {
  font-size: 1rem;
}

.text-sm {
  font-size: 0.8rem;
}

.text-md {
  font-size: 1.25rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  height: 60px;
  background-color: aliceblue;
}

#logo {
  text-decoration: none;
}

header #logo > svg {
  height: 68%;
}

header > #logo > h3 {
  margin-left: 0.7rem;
  margin-bottom: 0;
  font-size: 24px;
  letter-spacing: -0.8px;
  color: #616161;
  text-decoration: none !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#subHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 90%;
}
#subHeader > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  margin-right: 1rem;
  border: 1px rgba(163, 163, 163, 0.466) solid;
  border-radius: 15px;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
}
#subHeader > * > ion-icon {
  margin-right: 5px;
  font-size: 16px;
}